#film-panel {
    position: relative;
    max-width: 1800px;
    width: 100%;
    margin: 80px auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px 15px 20px 15px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    
    
    
}

.films-list {
	position: relative;
    max-width: 1800px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
	display: none;
	flex-wrap: wrap;
	
}

.films-active{
		display:flex;
	}

.film {
	padding: 15px 10px;
	flex-grow: 1;
	background-color: #FFFFFF;
	display: block;
	max-width: 300 px;
	vertical-align: top;	
	
}

.poster {
	min-height: 230px;
	max-height: 230px;
	max-width: 150px;
	min-width: 150px;
	margin:auto;
	
}

img.poster {
	width:150px; 
	height:auto;
	max-height:230px;
}

#loading-panel{
	padding: 15px 30px;
	flex-grow: 1;
	background-color: #FFFFFF;
	display: block;
	
}

.over-popup{
	position: absolute;
    display: none;
    background-color: white;
    border-radius: 10px;
    border: 1px solid;
    padding: 15px;
    min-width: 280px;
    max-width: 480px;
    text-align: left;
}

#btn-continue {
	display: none;
}

#pagination-container {
	display: none;
	position: relative;
	width: 6%;
 	margin: auto;
	
}
