body {
}

.fab{
    color: white;
}

#loading-img{
	display: none;
	max-width: 30px; 
    max-height: 30px;
    margin-left: auto;
    margin-right: auto;
}

.container {
	min-width: 100%; 
	min-height: 100%; 
    left: 0em; 
    right: 0em; 
    bottom: 0em;     
    top: 0em; 
	position: absolute;
	background-image: url("../img/bgfilm.jpg");
	background-repeat: repeat;	
}

.fb-login-container {
	position: absolute;
	height: 150px;
	width: 400px;
  	top: 50%;
  	left: 50%;
  	margin: -100px 0 0 -200px;
  	/*border: 5px solid;
  	border-color: #00000;*/
  	background-color: white;
	border-radius: 10px;
	padding: 20px 15px 20px 15px;
	text-align: center;
	
}
